<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/public/styles/login.css">
<link rel="stylesheet" type="text/css" href="/public/styles/home.css">
<link rel="stylesheet" type="text/css" href="/public/styles/common.css">
</head>

<body>
<!-- Navbar -->
<div class="">
    <div class="nav-header w3-bar w3-black w3-card">
        {{#logueado}}
          <div class="nav-header-container">
            <a class="w3-bar-item w3-button w3-padding-large" href="/">Home</a>
            <a class="w3-bar-item w3-button w3-padding-large" href="/user/panelAdmin">Panel Admin</a>  
          </div>
          <div class="nav-header-container justify-end">
            <a class="w3-bar-item w3-button w3-padding-large" href="/user/logout">Logout</a>
          </div>
        {{/logueado}}
        {{^logueado}}
         <div class="nav-header-container">
          <a href="/user/registrarse" class="w3-bar-item w3-button w3-padding-large">Registrarse</a>
          <a class="w3-bar-item w3-button w3-padding-large" href="/user/login">Login</a>
         </div>
        {{/logueado}}
    </div>
</div>

